.prices-table {
  max-width: $max-content-width-desktop;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 2rem;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 20%;
    top: -140px;
    @include size(200px);
    background-image: url('../../assets/images/circle-large-white.svg');
    background-repeat: no-repeat;
    background-size: 200px;
    z-index: -1;
    opacity: 0.4;
  }

  .wp-block-column {
    background: white;
    display: flex;
    flex-direction: column;

    h4 {
      background-color: $prices-table-header;
      padding: 2.5rem 2rem 1.5rem 2rem;
      font-family: $body-sans-font;
      font-size: 22px;
      color: #727855;
    }

    p {
      padding: 1.5rem 2rem 0;
      font-size: 14px;
      color: #787878;
    }

    &:nth-child(2) {
      h4 {
        background-color: $prices-table-header-alternate;
      }
    }

    // SPACING
    &:not(:first-child) {
      margin-left: 1px;
    }

    figcaption {
      @extend .screen-reader-text;
    }
  }

  .prices__inner {
    margin-top: auto;
    color: $khaki-accent;
    padding: 2rem;
    padding-top: 0;
    font-family: $body-sans-font;

    .price {
      vertical-align: text-bottom;
      font-size: 24px;
      color: #1d5356;

      .lesson {
        font-size: 16px;
        margin-left: 1ch;
        opacity: 0.6;
      }
    }

    + p {
      display: none; // An empty <p></p> element gets added by wordpress when using a Block Pattern
    }
  }

  .wp-block-group.prices__inner {
    margin-bottom: 0;
    margin-top: auto;
    padding: 2rem;

    .wp-block-group__inner-container {
      padding: 0;
    }

    p {
      font-family: $body-sans-font;
      vertical-align: text-bottom;
      font-size: 24px;
      color: #1d5356;
      margin-bottom: 0;
      padding: 0 !important;
      display: block;
      line-height: 130%;

      span {
        color: $khaki-accent;
        font-size: 16px;
        margin-left: 1ch;
        opacity: 0.6;
      }
    }
  }

  /* ----------------------------------------
    button inside block
  ---------------------------------------- */
  .wp-block-buttons {
    padding: 2rem;
    margin-top: auto;
    a {
      color: #1d5356;
    }
  }

  .wp-block-image {
    margin-bottom: 0;
    height: calc(100% + 4.5rem);
    img {
      // width: 101%;
      height: calc(100%);
      object-fit: cover;
    }
  }
}
