.content-prices-wrapper {
  display: flex;
  max-width: 1024px;
  padding: 0 2rem;
  margin: 0 auto;

  .content {
    padding-right: 10rem;
  }

  .aside-prices {
    max-width: 50%;
    min-width: 21rem;
  }
}
