body {
  color: #ffffff;

  /* ----------------------------------------
    GREEN
  ---------------------------------------- */

  &.green {
    background-color: $green;

    // Buttons
    [class*='outlined'] {
      &:after {
        background: $green;
      }
    }

    .navigation-presentation-circle {
      svg circle {
        fill: rgba($green, 0.6);
      }
    }

    .primary-navigation ul li a {
      &:after {
        background: rgba($green, 0.2);
      }
    }

    p {
      a {
        color: $green-accent;

        &:before {
          background-color: $green-accent;
        }
      }
    }

    .footer-cta .wp-block-columns .wp-block-column h3 a,
    .footer-cta .wp-block-columns .wp-block-column p a {
      color: $green-accent;

      &:before {
        background-color: $green-accent;
      }
    }
  }

  /* ----------------------------------------
    DARK GREY
  ---------------------------------------- */

  &.darkgrey,
  &.error404 {
    background-color: $darkgrey;

    // Buttons
    [class*='outlined'] {
      &:after {
        background: $darkgrey;
      }
    }

    .navigation-presentation-circle {
      svg circle {
        fill: rgba($darkgrey, 0.6);
      }
    }

    .primary-navigation ul li a {
      &:after {
        background: rgba($darkgrey, 0.2);
      }
    }

    p {
      a {
        color: $olive;
      }
    }
  }

  /* ----------------------------------------
    KHAKI
  ---------------------------------------- */

  &.khaki {
    background-color: #9ea190;

    .footer-cta {
      .wp-block-columns {
        .wp-block-column {
          p {
            padding: 0;
          }
          h3 {
            a {
              color: $khaki-accent;
            }
          }
        }
      }
    }

    p {
      a {
        color: $khaki-accent;

        &:before {
          background-color: $khaki-accent;
        }
      }
    }

    .entry-content {
      > h2 {
        color: $khaki-accent;

        em {
          color: white;
        }
      }
    }

    .navigation-presentation-circle {
      svg circle {
        fill: rgba(158, 161, 144, 0.9);
      }
    }

    .primary-navigation ul li a {
      &:after {
        background: rgba($khaki, 0.6);
      }
    }

    // Buttons
    [class*='outlined'] {
      &:after {
        background: #9ea190;
      }
    }
  }

  /* ----------------------------------------
    FRESH BLUE
  ---------------------------------------- */

  &.freshblue {
    background-color: $fresh-blue;

    // Buttons
    [class*='outlined'] {
      &:after {
        background: $fresh-blue;
      }
    }

    .primary-navigation ul li a {
      &:after {
        background: rgba($fresh-blue, 0.2);
      }
    }

    p {
      a {
        color: $fresh-blue-accent;

        &:before {
          background-color: $fresh-blue-accent;
        }
      }
    }

    .hero-content p a {
      color: $fresh-blue-accent;

      &:before {
        background-color: $fresh-blue-accent;
      }
    }

    .footer-cta .wp-block-columns .wp-block-column h3 a,
    .footer-cta .wp-block-columns .wp-block-column p a {
      color: $fresh-blue-accent;

      &:before {
        background-color: $fresh-blue-accent;
      }
    }

    // Buttons in FOOTER CTA COLUMNS
    .content-prices-wrapper .wp-block-button__link {
      color: $fresh-blue-accent;
    }
  }
}

.entry-content-light {
  background-color: #ededed;
  color: $darkgrey;
}
