body {
  color: #ffffff;

  &.green {
    background-color: #1d5356;
  }

  &.darkgrey {
    background-color: $darkgrey;
  }

  &.khaki {
    background-color: #9ea190;

    .footer-cta {
      .wp-block-columns {
        .wp-block-column {
          p {
            padding: 0;
          }
          h3 {
            a {
              color: $khaki-accent;
            }
          }
        }
      }
    }

    .navigation-presentation-circle {
      svg circle {
        fill: rgba(158, 161, 144, 0.9);
      }
    }
  }

  &.freshblue {
    background-color: $fresh-blue;
  }
}

.entry-content-light {
  background-color: #ededed;
  color: $darkgrey;
}
