p {
  @include body-font();
  margin-bottom: 2ch;

  &:last-child {
    margin-bottom: 0;
  }
}

/* ----------------------------------------
  LINKS IN <p> WITH HUGE BORDER BOTTOM
---------------------------------------- */

p {
  a {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: $olive;

    &:before {
      content: '';
      position: absolute;
      left: auto;
      right: 0;
      bottom: 4px;
      width: 0%;
      height: 2px;
      z-index: -1;
      //opacity: 0;
      background-color: $olive; // GET OVERWRITTEN IN THEMES.SCSS
      @include transition;
    }

    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
        opacity: 0.8;
        // height: 0;
        //bottom: 0;
      }
    }
  }
}
