* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

$paragraph-font-size: 18px;
$paragraph-font-size--small: 16px;
$paragraph-line-height: 177%;
$paragraph-line-height--small: 140%;

$header-font-size: 45px;
$header-font-size--small: 36px;
$header-line-height: 127%;
$header-line-height--small: 127%;

$max-content-width-desktop: 1232px;

a {
  text-decoration: none;
}
