$olive: #98a12f;
$khaki-accent: #545e25;

$green: #1d5356;
$green-accent: #68a0a3;
$darkgrey: #152228;
$khaki: #b5b5b5;

$fresh-blue: #1b586e;
$fresh-blue-accent: #79b4c8;

$prices-table-header: #dee3c7;
$prices-table-header-alternate: #ecece9;
