.primary-navigation {
  position: relative;
  z-index: 200;
  display: none;

  @include mq('tablet-wide', 'min') {
    display: block;
  }

  ul {
    display: flex;
    margin-right: 2rem;

    li:not(:last-child) {
      margin-right: 1rem;
    }

    li {
      &.current-menu-item {
        a {
          background: white;
          color: $fresh-blue;
        }
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    font-family: $body-sans-font;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.8rem 1rem;
    color: white;

    &:visited {
      color: white;
    }

    &:after {
      content: '';
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
      height: 100%;
      width: 0%;
      @include transition();
    }

    &:hover {
      &:after {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}

.navigation-presentation-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 152px;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.2;

  svg {
    position: absolute;
    left: calc(-107px);
    top: calc(-99px);
    transform: scale(0.7);

    @include mq('tablet-wide', 'min') {
      left: -107px;
      top: -99px;
      transform: scale(1);
    }
  }

  svg circle {
    stroke: white;
  }
}

/* ----------------------------------------
  NAVIGATION TRIGGER BUTTON / HAMBURGER
---------------------------------------- */

.navigation-trigger-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 202;
}

.hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  left: 22px;
  top: 28px;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 10;

  span {
    position: absolute;
    left: 8px;
    top: 21px;
    width: 24px;
    height: 1px;

    @include transition;
    transform-origin: 50%;
    display: block;
    background: white;

    &:first-child {
      top: 11px;
    }
    &:last-child {
      top: 31px;
    }
    &:nth-child(2) {
      width: 16px;
    }
  }

  &:focus {
    outline: none;
  }
}

/* ----------------------------------------
  FULLSCREEN NAVIGATION
---------------------------------------- */

.fullscreen-navigation {
  position: fixed;
  width: 100vw;
  height: 0vh;
  left: 0;
  top: 0;
  background: $darkgrey;
  z-index: 201;
  transform: translateX(-4000px);
  @include transition(height, 0.2s, $default-easing);

  // display: none;

  &__nav {
    opacity: 0;
    transform: translateY(20px);
    @include transition(all, 0.3s, $default-easing, 0.2s);
  }

  &.is-open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-item {
    a {
      color: white;
      font-family: $body-sans-font;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 48px;
      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        @include transition;
        background-color: rgba(white, 0.7);
      }

      &:hover {
        &:before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }
}

.is-open {
  &.fullscreen-navigation {
    transform: translateX(0px);
    opacity: 1;
    height: 100vh;
  }

  .fullscreen-navigation__nav {
    opacity: 1;
    transform: translateY(0px);
  }
}
